<%- include("layout/header") %>
<div class ="container" style="width: 35%; margin:25px auto;">
  <h3 style="text-align: center;">Create a new fakenew</h3>
  <form action="/book" method="POST">
      <div class="form-group">
          <label for="edufakenew">Name of fakenew</label>
          <input type="text" class="form-control" name="name" placeholder="Name of Book">
      </div>
      <div class="form-group">
          <label for="edufakeURL">edufakeURL</label>
          <input type="text" class="form-control" name="imgurl" placeholder="URL of Image">
      </div>
      <div class="form-group">
        <label for="edufakeURL">edufakeURL</label>
        <input type="text" class="form-control" name="desc" placeholder="Description">
    </div>
      <button type="submit" class="btn btn-outline-success" style="float: right;">Submit</button>
  </form>
</div>
<%- include("layout/footer") %>
